@media (min-width: 576px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: .5rem;
    }
}
@media (min-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1rem;
    }
}
@media (min-width: 992px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 1.5rem;
    }
}
@media (min-width: 1200px) {
    h1 {
        font-size: 3.5rem;
    }
    h2 {
        font-size: 2rem;
    }
}

html {
    scroll-behavior: smooth;
}
.fa-cat {
    font-size: 2rem;
}
.fa-envelope, .fa-linkedin, .fa-github {
    font-size: 3rem;
}
.contact {
    gap: 10%;
}
a:hover {
    text-decoration: none;
}
.paw {
    width: -webkit-fill-available;
}
.interest {
    width: 90%;
    margin-top: -15%;
}
.edu {
    font-weight: 700;
    font-family: "Permanent Marker", cursive;
}
.hero-bg {
    background-color: #e8fbfc;
}
.text-info {
    color: #a5d8dc !important;
}
p, .text-success, .name-2, h5 {
    font-family: monospace;
}
.skills p, .lang p {
    font-size: 1.5rem;
}
.skills img, .lang img {
    padding-right: 3%;
}
p {
    font-size: 20px;
}
.bg-info {
    background-color: #a5d8dc !important;
}
.down {
    position: absolute; 
    bottom: 15%; 
    left: 0; 
    right: 0;
}
#sec-2 {
    height: 200vh;
}
.gold {
    width: 13%;
}
#sec-2 .cat {
    width: 5%;
}
@keyframes moveUpDown {
    0% {
        transform: translateY(-10px); /* Move up by 5 pixels */
    }
    50% {
        transform: translateY(10px); /* Move down by 5 pixels */
    }
    100% {
        transform: translateY(-10px); /* Move up again by 5 pixels */
    }
}
.moveUpDown {
    animation: moveUpDown 2s infinite;
    text-decoration: none;
}
.moveUpDown:hover {
    text-decoration: none;
}